.header {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.header-left a {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column; /* Align children vertically */
}

img {
  width: 65px;
  height: 65px;
}

.title {
  font-size: 25px;
  color: #cfcec3;
  font-weight: bold;
}

.profile {
  color: #cfcec3;
  display: flex;
  align-items: center;
}

.about {
  color: #cfcec3;
}

.link_style {
  text-decoration: none;
  color: #cfcec3;
}

.link_style,
.link_style svg {
  display: inline;
}

.menu-item {
  margin-bottom: 0.3em;
}
